body, p {
    font-family: 'Satoshi', sans-serif;
    text-align: center;
    background-color: #ececec;
}

.background-image {
    background-image: url('../../../public/images/cover_saritidepefix.jpg');
    height: 64vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1024px) {
        height: 54vh;
    }
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #ECECEC; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #e33054; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #AAAAAA; 
}