$primary-accent: #e33054;
$primary-background: #19325c;
$neutral-background: #ececec;
$complementary-accent: #a4f2df;
$secondary-neutral: #aaa;
$font: 'Satoshi', sans-serif;
$font-bold: 'Satoshi-Bold', sans-serif;